Repository GOOFR-Group/gaming-store, pull requests merged in 2024-12, with the labels that each got.

#63 feat(server): allow a visitor to register, retrieve, patch and login to a publisher account
  server/api/swagger/api.yml
  server/internal/domain/common.go
  server/internal/domain/fields.go
  server/internal/domain/publisher.go
  server/internal/domain/user.go
  server/internal/logging/keys.go
  server/internal/service/publisher.go
  server/internal/service/service.go
  server/internal/service/user.go
  server/internal/store/data/publisher.go
  server/internal/store/data/user.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/publisher.go
  server/internal/transport/http/user.go
Labels: enhancement, server app

#67 feat(server): allow a publisher to manage a game
  cspell.yml
  server/api/swagger/api.yml
  server/config.yml
  server/database/migrations/000003_create_games_table.up.sql
  server/database/migrations/000006_insert_common_tags.down.sql
  server/database/migrations/000006_insert_common_tags.up.sql
  server/deployments/prod/config.yml
  server/go.mod
  server/internal/domain/common.go
  server/internal/domain/fields.go
  server/internal/domain/game.go
  server/internal/domain/game_multimedia.go
  server/internal/domain/game_tag.go
  server/internal/domain/multimedia.go
  server/internal/domain/pagination.go
  server/internal/domain/tag.go
  server/internal/domain/user.go
  server/internal/logging/keys.go
  server/internal/service/game.go
  server/internal/service/game_multimedia.go
  server/internal/service/game_tag.go
  server/internal/service/publisher.go
  server/internal/service/service.go
  server/internal/service/tag.go
  server/internal/service/user.go
  server/internal/store/data/game.go
  server/internal/store/data/game_multimedia.go
  server/internal/store/data/game_tag.go
  server/internal/store/data/multimedia.go
  server/internal/store/data/store.go
  server/internal/store/data/tag.go
  server/internal/transport/http/fault.go
  server/internal/transport/http/game.go
  server/internal/transport/http/game_multimedia.go
  server/internal/transport/http/game_tag.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/mapper.go
  server/internal/transport/http/multimedia.go
  server/internal/transport/http/publisher.go
  server/internal/transport/http/tag.go
  server/internal/transport/http/user.go
Labels: enhancement, server app

#72 feat(server): allow a user to list games
  server/api/swagger/api.yml
  server/internal/domain/game.go
  server/internal/domain/pagination.go
  server/internal/service/game.go
  server/internal/service/service.go
  server/internal/store/data/game.go
  server/internal/store/data/list.go
  server/internal/store/data/store.go
  server/internal/store/data/tag.go
  server/internal/transport/http/game.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/mapper.go
  server/internal/transport/http/tag.go
Labels: enhancement, server app

#74 feat(web): allow a publisher to view games
  web/package-lock.json
  web/src/components/account/account-details.tsx
  web/src/components/account/add-funds.tsx
  web/src/components/account/user-avatar.tsx
  web/src/components/data-table/column-header.tsx
  web/src/components/data-table/data-table.tsx
  web/src/components/data-table/faceted-filter.tsx
  web/src/components/data-table/pagination.tsx
  web/src/components/data-table/view-options.tsx
  web/src/components/distribute/games/columns.ts
  web/src/components/distribute/games/search.tsx
  web/src/components/distribute/games/table.tsx
  web/src/components/distribute/games/toolbar.tsx
  web/src/components/ui/table.tsx
  web/src/domain/game.ts
  web/src/domain/publisher.ts
  web/src/domain/tag.ts
  web/src/lib/api.ts
  web/src/lib/constants.ts
  web/src/lib/query-keys.ts
  web/src/lib/request.ts
  web/src/lib/utils.ts
  web/src/main.tsx
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/browse.tsx
  web/src/routes/_layout/index.tsx
  web/src/routes/_layout/register.tsx
  web/src/routes/_layout/signin.tsx
  web/src/routes/distribute/_layout/games/index.tsx
  web/tailwind.config.js
Labels: enhancement, web app

#73 feat(server): allow user to list games library
  server/api/swagger/api.yml
  server/internal/domain/user.go
  server/internal/service/service.go
  server/internal/service/user.go
  server/internal/store/data/game.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/user.go
Labels: enhancement, server app

#80 chore(web): implement web design suggestions
  web/public/favicon.png
  web/public/images/genres/action.png
  web/public/images/genres/adventure.png
  web/public/images/genres/puzzle.png
  web/public/images/genres/racing.png
  web/public/images/genres/rpg.png
  web/public/images/genres/simulation.png
  web/public/images/genres/sport.png
  web/public/images/genres/strategy.png
  web/public/images/logo.png
  web/src/components/form/game.tsx
  web/src/components/game.tsx
  web/src/components/ui/table.tsx
  web/src/routes/_layout.tsx
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/browse.tsx
  web/src/routes/_layout/cart.tsx
  web/src/routes/_layout/games/$gameId.tsx
  web/src/routes/_layout/index.tsx
  web/src/routes/_layout/signin.tsx
  web/src/routes/distribute/_layout.tsx
  web/src/routes/distribute/signin.tsx
Labels: enhancement, web app

#79 feat(server): allow player to manage their shopping cart
  server/api/swagger/api.yml
  server/internal/domain/game.go
  server/internal/domain/user.go
  server/internal/domain/user_cart.go
  server/internal/domain/user_library.go
  server/internal/service/service.go
  server/internal/service/user.go
  server/internal/service/user_cart.go
  server/internal/service/user_library.go
  server/internal/store/data/game.go
  server/internal/store/data/user_cart.go
  server/internal/store/data/user_library.go
  server/internal/transport/http/game.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/user.go
  server/internal/transport/http/user_cart.go
  server/internal/transport/http/user_library.go
Labels: enhancement, server app

#65 feat(web): allow a visitor to register a publisher account
  web/src/components/account/account-details.tsx
  web/src/components/account/add-funds.tsx
  web/src/components/account/user-avatar.tsx
  web/src/domain/publisher.ts
  web/src/lib/api.ts
  web/src/lib/auth.ts
  web/src/lib/errors.ts
  web/src/lib/middleware.ts
  web/src/lib/zod.ts
  web/src/routes/__root.tsx
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/register.tsx
  web/src/routes/distribute/_layout.tsx
  web/src/routes/distribute/register.tsx
  web/src/routes/distribute/signin.tsx
Labels: enhancement, web app

#66 feat(web): allow a publisher to log in
  web/src/routes/_layout/register.tsx
  web/src/routes/_layout/signin.tsx
  web/src/routes/distribute/register.tsx
  web/src/routes/distribute/signin.tsx
Labels: enhancement, web app

#70 feat(web): allow a publisher to log out
  web/src/routes/distribute/_layout.tsx
Labels: enhancement, web app

#84 feat(server): allow player to purchase their shopping cart
  cspell.yml
  server/api/swagger/api.yml
  server/cmd/server/main.go
  server/config.yml
  server/database/migrations/000005_create_invoices_table.up.sql
  server/deployments/prod/config.yml
  server/internal/client/smtp/client.go
  server/internal/client/smtp/noop.go
  server/internal/config/model.go
  server/internal/domain/invoice.go
  server/internal/domain/user.go
  server/internal/domain/user_cart.go
  server/internal/service/service.go
  server/internal/service/user_cart.go
  server/internal/store/data/user_cart.go
  server/internal/store/data/user_library.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/user.go
  server/internal/transport/http/user_cart.go
  server/server.go
  server/templates/email/invoice.html
Labels: enhancement, server app

#81 feat(web): allow a publisher to view a game
  web/package-lock.json
  web/package.json
  web/src/components/account/account-details.tsx
  web/src/components/distribute/error.tsx
  web/src/components/distribute/games/game-preview.tsx
  web/src/components/game.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/calendar.tsx
  web/src/components/ui/tooltip.tsx
  web/src/domain/game.ts
  web/src/lib/api.ts
  web/src/lib/constants.ts
  web/src/lib/utils.ts
  web/src/main.tsx
  web/src/routes/_layout.tsx
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/browse.tsx
  web/src/routes/_layout/games/$gameId.tsx
  web/src/routes/_layout/index.tsx
  web/src/routes/_layout/register.tsx
  web/src/routes/distribute/_layout/games/$gameId.tsx
Labels: enhancement, web app

#85 ci: deploy service to production
  .github/workflows/deploy-prod.yml
  cspell.yml
  server/api/swagger/api.yml
Labels: enhancement

#82 feat(web): allow a publisher to create a game
  web/package-lock.json
  web/package.json
  web/src/components/distribute/games/form/form.tsx
  web/src/components/distribute/games/form/multimedia-uploader.tsx
  web/src/components/distribute/games/toolbar.tsx
  web/src/components/form/game.tsx
  web/src/components/ui/form.tsx
  web/src/domain/game-multimedia.ts
  web/src/domain/game.ts
  web/src/domain/multimedia.ts
  web/src/hooks/use-tags.ts
  web/src/lib/api.ts
  web/src/routes/distribute/_layout/games/add.tsx
  web/src/routes/distribute/_layout/games_/$gameId/edit.tsx
Labels: enhancement, web app

#83 feat(web): allow a publisher to edit a game
  web/src/components/account/account-details.tsx
  web/src/components/account/add-funds.tsx
  web/src/components/data-table/pagination.tsx
  web/src/components/distribute/account/account-details.tsx
  web/src/components/distribute/games/form/form.tsx
  web/src/components/distribute/games/form/multimedia-uploader.tsx
  web/src/components/distribute/games/table.tsx
  web/src/components/distribute/navbar/nav-link.tsx
  web/src/components/distribute/navbar/navbar.tsx
  web/src/components/game.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/file-input.tsx
  web/src/components/ui/input.tsx
  web/src/components/ui/table.tsx
  web/src/domain/game.ts
  web/src/hooks/use-publisher.ts
  web/src/lib/api.ts
  web/src/lib/middleware.ts
  web/src/lib/utils.ts
  web/src/routes/_layout.tsx
  web/src/routes/_layout/index.tsx
  web/src/routes/distribute/_layout.tsx
  web/src/routes/distribute/_layout/games/$gameId.tsx
  web/src/routes/distribute/_layout/games_/$gameId/edit.tsx
  web/src/routes/distribute/register.tsx
  web/src/routes/distribute/signin.tsx
Labels: enhancement, web app

#87 feat(web): add under construction page
  web/src/components/distribute/navbar/nav-link.tsx
  web/src/components/distribute/navbar/navbar.tsx
  web/src/components/error.tsx
  web/src/components/under-construction.tsx
  web/src/routeTree.gen.ts
  web/src/routes/__root.tsx
  web/src/routes/_layout.tsx
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/browse.tsx
  web/src/routes/_layout/cookie-policy.tsx
  web/src/routes/_layout/games/$gameId.tsx
  web/src/routes/_layout/privacy-policy.tsx
  web/src/routes/_layout/terms-service.tsx
  web/src/routes/_layout/under-construction.tsx
  web/src/routes/distribute/_layout.tsx
  web/src/routes/distribute/_layout/games/$gameId.tsx
  web/src/routes/distribute/_layout/games_/$gameId/edit.tsx
  web/src/routes/distribute/_layout/under-construction.tsx
Labels: enhancement, web app

#88 feat: allow user to browse the home page
  server/internal/store/data/game.go
  server/internal/store/data/list.go
  server/internal/store/data/tag.go
  web/public/images/cover.jpg
  web/src/components/game.tsx
  web/src/domain/game.ts
  web/src/lib/api.ts
  web/src/lib/query-keys.ts
  web/src/routes/_layout.tsx
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/index.tsx
Labels: enhancement, web app, server app

#89 feat: add price tax
  server/internal/domain/user_cart.go
  server/internal/service/service.go
  server/internal/service/user_cart.go
  server/internal/store/data/user_cart.go
  web/package.json
  web/src/components/distribute/games/form/form.tsx
  web/src/components/game.tsx
  web/src/lib/constants.ts
  web/src/lib/utils.ts
  web/src/routes/_layout/cart.tsx
  web/src/routes/distribute/_layout/account.tsx
  web/src/routes/distribute/_layout/games/$gameId.tsx
  web/src/routes/distribute/_layout/games_/$gameId/edit.tsx
Labels: enhancement, web app, server app

#92 feat(web): allow a player to filter the catalog of games
  web/src/components/browse/price-filter.tsx
  web/src/components/browse/quick-filters.tsx
  web/src/components/browse/sort.tsx
  web/src/components/browse/tags-filter.tsx
  web/src/components/distribute/games/form/form.tsx
  web/src/components/game.tsx
  web/src/components/ui/calendar.tsx
  web/src/components/ui/dropdown-menu.tsx
  web/src/components/ui/pagination.tsx
  web/src/domain/game.ts
  web/src/lib/api.ts
  web/src/lib/constants.ts
  web/src/lib/query-keys.ts
  web/src/lib/utils.ts
  web/src/routes/_layout.tsx
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/browse.tsx
  web/src/routes/_layout/cart.tsx
  web/src/routes/_layout/cookie-policy.tsx
  web/src/routes/_layout/games/$gameId.tsx
  web/src/routes/_layout/index.tsx
  web/src/routes/_layout/privacy-policy.tsx
  web/src/routes/_layout/signin.tsx
  web/src/routes/_layout/terms-service.tsx
  web/src/routes/distribute/_layout/games/index.tsx
Labels: enhancement, web app

#90 feat(web): allow player to manage shopping cart
  web/src/components/account/account-details.tsx
  web/src/components/account/user-avatar.tsx
  web/src/domain/user.ts
  web/src/lib/api.ts
  web/src/lib/query-keys.ts
  web/src/routes/_layout.tsx
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/browse.tsx
  web/src/routes/_layout/cart.tsx
  web/src/routes/_layout/cookie-policy.tsx
  web/src/routes/_layout/games/$gameId.tsx
  web/src/routes/_layout/index.tsx
  web/src/routes/_layout/privacy-policy.tsx
  web/src/routes/_layout/register.tsx
  web/src/routes/_layout/signin.tsx
  web/src/routes/_layout/terms-service.tsx
  web/src/routes/_layout/under-construction.tsx
  web/src/routes/distribute/register.tsx
  web/src/routes/distribute/signin.tsx
Labels: enhancement, web app

#94 feat(server): add unit tests
  cspell.yml
  server/database/database.go
  server/go.mod
  server/go.sum
  server/internal/service/game_test.go
  server/internal/service/publisher_test.go
  server/internal/service/service.go
  server/internal/service/service_test.go
  server/internal/service/user_cart_test.go
  server/internal/service/user_test.go
  server/internal/store/data/game_test.go
  server/internal/store/data/publisher_test.go
  server/internal/store/data/store_test.go
  server/internal/store/data/user_cart_test.go
  server/internal/store/data/user_test.go
  server/tools/tools.go
Labels: enhancement, server app

#91 feat: allow player to buy a game
  server/internal/domain/game.go
  server/internal/domain/invoice.go
  server/internal/service/user_cart.go
  server/templates/email/invoice.html
  web/src/lib/api.ts
  web/src/lib/errors.ts
  web/src/lib/query-keys.ts
  web/src/routeTree.gen.ts
  web/src/routes/_layout/cart.tsx
  web/src/routes/_layout/payment.tsx
Labels: enhancement, web app, server app

#93 feat(web): allow player to browse their game library
  web/public/images/game.jpg
  web/src/components/browse/price-filter.tsx
  web/src/components/distribute/games/form/form.tsx
  web/src/components/game.tsx
  web/src/domain/user.ts
  web/src/lib/api.ts
  web/src/lib/utils.ts
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/browse.tsx
  web/src/routes/_layout/index.tsx
  web/src/routes/distribute/_layout/games/$gameId.tsx
  web/src/routes/distribute/_layout/games_/$gameId/edit.tsx
Labels: enhancement, web app

#95 feat(web): allow player to see game details
  web/public/images/game.jpg
  web/public/images/pegi/12.png
  web/public/images/pegi/16.png
  web/public/images/pegi/3.png
  web/public/images/pegi/7.png
  web/src/components/account/account-details.tsx
  web/src/components/carousel.tsx
  web/src/components/distribute/games/form/form.tsx
  web/src/lib/api.ts
  web/src/lib/query-keys.ts
  web/src/routeTree.gen.ts
  web/src/routes/_layout/account.tsx
  web/src/routes/_layout/browse.tsx
  web/src/routes/_layout/cart.tsx
  web/src/routes/_layout/games/$gameId.tsx
  web/src/routes/_layout/index.tsx
  web/src/routes/_layout/publishers_/$publisherId/games/$gameId.tsx
  web/src/routes/distribute/_layout/games/$gameId.tsx
  web/src/routes/distribute/_layout/games_/$gameId/edit.tsx
Labels: enhancement, web app
